
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
#div1 {
    width: 200px;
    height: 2000px;
    padding: 10px;
    border: 1px solid #aaaaaa;
  }

  